.detailedListing {
  text-align: center;
}

#backLink {
  margin-top: 15px;
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  border: 3px solid white;
  border-radius: 25px;
  margin-left: 40%;
  margin-right: 40%;
}

#backLink:hover {
  border: 3px solid black;
}